<h1>Sessions#new</h1>
<h1>ログイン画面</h1>
<%= render "shared/error_messages", object: @user %>
<%= form_with model: @user, url: session_path, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "ログイン" %>
<% end %>
<%= link_to '戻る', request.referer || root_path  %>

