<h1>ユーザー編集</h1>
<%= render "shared/error_messages", object: @user %>
<%= form_with model: @user, local: true, autocomplete: "off", data: { turbo: false } do |form| %>

  <div>
    <%= form.label :user_name, "ユーザー名" %>
    <%= form.text_field :user_name %>
  </div>
  <div>
    <%= form.label :email, "メールアドレス" %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>
  <%= form.submit "更新" %>
<% end %>
