<% content_for :title, "本一覧" %>

<div class="books-index">
  <div class="search-form">
  <h2>検索フォーム</h2>
  <%= form_with url: books_path, method: :get, local: true do |f| %>
    <%= f.label :keyword, "キーワード" %>
    <%= f.text_field :keyword, class: "form-control" %>
    <%= f.collection_select :tag_ids, Tag.all, :id, :name, { include_blank: "タグ選択" }, { class: "form-control" } %>
    <%= f.submit "検索" %>
  <% end %></div>
</div>
<div class="books-list" >
  <% @ownerships.each do |ownership| %>
    <%= link_to book_path(ownership.book), class: "book-card" do %>
      <% if ownership.book.cover_image.attached? %>
        <%= image_tag ownership.book.cover_image, class: "card-background" %>
      <% else %>
        <%= image_tag "default_book.png", class: "card-background" %>
      <% end %>
      <div class="card-content">
        <p class="book-title"><%= ownership.book.title %></p>
        <p class="book-title"><%= ownership.book.author %></p>
      </div>
    <% end %>
  <% end %>
</div>

