<% content_for :title, "新規書籍登録" %>
<h1>新規書籍登録</h1>
<%= render "shared/error_messages", object: @book %>
<%= form_with model: @book, local: true, autocomplete: "off", data: { turbo: false } do |form| %>
  <div class="form-grid">
    <div class="form-group">
      <%= form.label :title, "書名" %><br>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :rating, "評価" %><br>
      <%= form.number_field :rating, min: 1, max: 5, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :author, "著者" %><br>
      <%= form.text_field :author, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :tag_ids, "タグ（選択）" %><br>
      <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name, class: "form-control" %><br>
      <%= form.label :tag_name, "タグ（新規入力）" %><br>
      <%= form.text_field :tag_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :series_name, "シリーズ名（新規作成する場合）" %><br>
      <%= form.text_field :series_name, class: "form-control" %><br>

      <%= form.label :series_id, "既存シリーズ（なければ未選択）" %><br>
      <%= form.collection_select :series_id, @series, :id, :name,
        { include_blank: "単巻（シリーズなし）" },
        { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= form.label :status, "ステータス" %><br>
      <%= form.select :status, Ownership.statuses.keys.map { |key| [I18n.t("enums.ownership.status.#{key}"), key] },
    {},
    { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= form.label :body, "説明" %><br>
      <%= form.text_area :body, class: "form-control-body" %>
    </div>
    <div class="form-group-image-row">
      <div class="upload-image">
        <div class="cover-preview">
          <img id="preview" src="<%= @book.cover_image.attached? ? url_for(@book.cover_image) : asset_path('default_book.png') %>" width="100">
        </div>
      </div>
      <div class="upload-form">
        <%= form.file_field :cover_image, id: "image_input", class: "hidden-file" %>
        <label for="image_input" class="btn edit-btn">
          画像を選択
        </label>
      </div>
    </div>
  </div>
  <div class="user-actions">
  <%= form.submit "登録", class: "btn edit-btn" %>
  <%= link_to '一つ前に戻る', request.referer || root_path, class: "btn move-btn"  %>
  </div>
<% end %>
