<h1>Books#show</h1>
<div>
<p>書籍名：<%= @book.title %></p>
<p>著者：<%= @book.author %></p>
<p>シリーズ：<%= @book.series&.name %></p>
<p>評価：<%= @book.rating %></p>
<p>内容：<%= @book.body %></p>
<p>ステータス：<%= @book.status_label %></p>

<h3>タグ</h3>
<% @book.tags.each do |tag| %>
  <span><%= tag.name %></span>
<% end %>
</div>
<%= link_to "削除", book_path(@book), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
<%= link_to "編集", edit_book_path(@book) %>
<%= link_to '一つ前に戻る', request.referer || root_path  %>
<%= link_to '一覧に戻る', books_path %>
