<% content_for :title, @book.title %>
<div  class="form-grid">
  <div class="form-group">
    <p>書名：<%= @book.title %></p>
  </div>
  <div class="form-group">
    <p>評価：<%= @book.rating %></p>
  </div>
  <div class="form-group">
    <p>著者：<%= @book.author %></p>
  </div>
  <div class="form-group">
    <h3>タグ</h3>
    <% @ownership.book.tags.each do |tag| %>
      <span class="tag" ><%= tag.name %></span>
    <% end %>
  </div>
  <div class="form-group">
    <p>シリーズ：<%= @book.series&.name || "単巻" %></p>
  </div>
  <div class="form-group">
    <% if @ownership.present? %>
      <p>ステータス：<%= @ownership.status ? @ownership.status_label : "未設定" %></p>
    <% end %>
  </div>
  <div class="form-group">
    <div>説明：</div>
    <div class="synopsis">
      <%= simple_format(strip_tags(@book.body)) %>
    </div>
  </div>
  <div class="form-group">
    <p>表紙画像</p>
      <div class="form-group-image-row">
        <div class="upload-image">
          <div class="cover-preview">
            <%= image_tag(@book.cover_image.attached? ? url_for(@book.cover_image) : "default_book.png", id: "preview", width: 100) %>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="user-actions">
  <%= button_to "削除",
    book_path(@book),
    method: :delete,
    form: { data: { turbo: false } },
    data: { turbo_confirm: "本当に削除しますか？" }, class: "btn delete-btn" %>
  <%= link_to "編集", edit_book_path(@book), class: "btn edit-btn" %>
  <%= link_to '一つ前に戻る', request.referer || root_path, class: "btn move-btn"  %>
  <%= link_to '一覧に戻る', books_path, class: "btn move-btn" %>
</div>
